In [1]:
import pytest
import pandas as pd
import pickle
from test_sanity_check import sanity_check, test_sanity

In [2]:
with open('models/LogisticRegression/LogisticRegression.pkl', 'rb') as f:
    LR = pickle.load(f)
with open('models/RandomForest/RandomForest.pkl', 'rb') as f:
    RF = pickle.load(f)

full_df = pd.read_csv('../datasets/fraud_new.csv')

In [44]:
example = full_df.sample(2, ignore_index=True)

In [45]:
example

,step,type,amount,oldBalanceOrig,newBalanceOrig,oldBalanceDest,newBalanceDest,isFraud,errorBalanceOrig,errorBalanceDest
0,230,0,36333.71,0.0,0.00,7263880.04,7300213.75,0,36333.71,0.0
1,157,1,150880.99,184896.0,34015.01,0.00,150880.99,0,0.00,0.0

In [46]:
full_df.head()

,step,type,amount,oldBalanceOrig,newBalanceOrig,oldBalanceDest,newBalanceDest,isFraud,errorBalanceOrig,errorBalanceDest
0,1,0,181.00,181.0,0.0,0.0,0.00,1,0.00,181.0
1,1,1,181.00,181.0,0.0,21182.0,0.00,1,0.00,21363.0
2,1,1,229133.94,15325.0,0.0,5083.0,51513.44,0,213808.94,182703.5
3,1,0,215310.30,705.0,0.0,22425.0,0.00,0,214605.30,237735.3
4,1,0,311685.89,10835.0,0.0,6267.0,2719172.89,0,300850.89,-2401220.0

In [42]:
def sanity_check(model, examples, target_column):
    result = model.predict(examples.drop(target_column, axis=1))
    original = examples[target_column]
    values = (pd.Series(result) == original).value_counts().index
    if len(values) == 2:
        return False
    return values[0]

In [47]:
sanity_check(LR, example, "isFraud")

True